<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="boardVo" type="kr.or.ddit.db.board.model.BoardVo" />
		<typeAlias alias="comVo" type="kr.or.ddit.db.comment.model.CommentVo" />
		<typeAlias alias="fileVo" type="kr.or.ddit.db.file.model.FileVo" />
		<typeAlias alias="textVo" type="kr.or.ddit.db.text.model.TextVo" />
		
		<typeAlias alias="usersVo" type="kr.or.ddit.db.user.model.UsersVo" />
		<typeAlias alias="pageVo" type="kr.or.ddit.db.user.model.PageVo" />
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="pc17"/>
        <property name="password" value="java"/> 
      </dataSource>
      
    </environment>
  </environments>
  <mappers><!-- sql문 관리 -->
    <mapper resource="kr/or/ddit/config/mybatis/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/comment.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/file.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/text.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/users.xml"/>
  </mappers>
</configuration>