<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ADMIN</param-name>
    <param-value>brown</param-value>
  </context-param>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/bs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NowTimeServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.NowTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowTimeServlet</servlet-name>
    <url-pattern>/nowDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>timesServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.timesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timesServlet</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>kr.or.ddit.login.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>kr.or.ddit.login.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pagingnation</display-name>
    <servlet-name>Pagingnation</servlet-name>
    <servlet-class>kr.or.ddit.paging.model.Pagingnation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagingnation</servlet-name>
    <url-pattern>/Pagingnation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LprodPagination</display-name>
    <servlet-name>LprodPagination</servlet-name>
    <servlet-class>kr.or.ddit.lprod.LprodPagination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LprodPagination</servlet-name>
    <url-pattern>/LprodPagination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LprodController</display-name>
    <servlet-name>LprodController</servlet-name>
    <servlet-class>kr.or.ddit.lprod.controller.LprodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LprodController</servlet-name>
    <url-pattern>/LprodController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500/500.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ElServlet</display-name>
    <servlet-name>ElServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.ElServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElServlet</servlet-name>
    <url-pattern>/ElServlet</url-pattern>
  </servlet-mapping>
</web-app>